/* src/css/hero.css */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    color: black; /* Text color */
    text-align: center; /* Center align text */
    position: relative;
    overflow: hidden; /* Prevent content overflow */
  }
  
  .hero-content {
    max-width: 800px; /* Limit the max width for larger screens */
    padding: 20px;
  }
  
  .hero-title {
    font-size: 2.5rem; /* Larger title */
    margin: 0.5rem 0; /* Spacing */
    font-weight: 700; /* Bold */
  }
  
  .hero-subtitle {
    font-size: 1.25rem; /* Subtitle size */
    margin-bottom: 1.5rem; /* Bottom spacing */
  }
  
  .button-group {
    display: flex;
    justify-content: center; /* Center buttons */
    gap: 20px; /* Space between buttons */
  }
  
  .btn {
    padding: 12px 24px; /* Button padding */
    font-size: 1rem; /* Button text size */
    background-color: transparent; /* Transparent background */
    border: 2px solid black; /* White border */
    border-radius: 30px; /* Rounded corners */
    color: black; /* Button text color */
    cursor: pointer; /* Pointer cursor */
    transition: all 0.3s ease; /* Smooth transition */
  }
  

  
  .btn:hover {
    background-color: rgba(0, 0, 0, 0.514); /* Change primary button background on hover */
  }
  
  /* Optional: Add a decorative effect */
