.section-container {
    position: relative;
    height: 300vh; /* 300% of viewport height */
    background-color: #7c7c7c; /* Darker gray */
}

.sticky-container {
    position: sticky;
    top: 0;
    display: flex;
    height: 100vh; /* Full viewport height */
    align-items: center;
    overflow: hidden;
}

.scroll-container {
    display: flex;
}

.card {
    position: relative;
    height: 100vh; /* Fixed height */
    width: 100vw; /* Fixed width */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-content: center;
    z-index: 10; /* Above the background image */
}

.title {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    font-size: 4rem; /* 6xl size */
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    z-index: 10; /* Above the background image */
}
