.pricing-plans {
    display: flex;
    height: 80vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
  }
  
  .plan {
    padding: 20px;
    width: 300px;
    height: 50vh;
    text-align: center;
    background-color: #f8f4f4;
    margin: 20px;
  }
  
  .main-skills {
    background-color: #1e2d3d;
    color: #fff;
    margin-bottom: 5vh;
  }
  
  .main-skills .btn {
    color: #fff;
  }
  
  .main-skills .primary-btn {
    background-color: #9fe870;
  }
  
  .price {
    font-weight: bold;
  }
  
  .price span {
    color: #666;
  }
  
  .features {
    list-style: none;
    padding: 0;
  }
  
  .features li {
    display: flex;
    align-items: center;
  }
