@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebebe1;
  font-family: "Space Grotesk", sans-serif;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 50000;
}
